<head>
<link href="https://fonts.googleapis.com/css?family=Bungee+Hairline|Bungee+Shade|Monoton" rel="stylesheet">
</head>
<img src="https://userscontent2.emaze.com/images/a8dbd5bc-ec94-4cb7-a89d-426252953763/bae47c76-3abf-4bc6-b8a1-6eeddb7f6c3aimage96.png" class="img-responsive" alt="Responsive image">



<div class="center-block">
<h1>Oye!</h1>
<h3>Sign In</h3>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
     <button type="submit" class="btn btn-default">Submit</button>
</form>

</div>


